@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>
<CascadingValue Value="@messageForGrandChild" Name="MessageFromGrandParent">
    <CascadingValue Value="@LuckyNumber" Name="GrandParentsLuckyNumber">
        <ChildComponent
            @ref="childComp"
            OnClickMethod="ShowMessage"
            Title="This title is passed as a parameter from Parent Component"
        >
            <ChildContent>Render Fragment from parent! Woo Hoo!</ChildContent>
            <SecondChildContent>Over the river and through the woods.</SecondChildContent>
        </ChildComponent>
    </CascadingValue>
</CascadingValue>

<AnotherChildComponent InputAttributes="InputAttributesFromParent" />
<br />
<br />
<ChildComponent Title="This is a second child component" />

<p><b>@messageText</b></p>

<div class="row">
    <button class="btn btn-success" @onclick="() => childComp.ShowToastrSuccess()">Show Alert</button>
</div>

@code {
    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "required", "required" },
        { "placeholder", "Enter the Room Name from Parent" },
        { "maxlength", 5 }
    };

    private string messageForGrandChild = "This is a message from Grandparent.";
    public string LuckyNumber { get; set; } = "7";

    private string messageText= "";
    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazing text from parent";
    }

    private ChildComponent childComp;
}