<div class="bg-light border p-2 col-5" @onclick="(args) => OnAmenityClick(args, Amenity.Name)">
    <h4 class="text-secondary">Amenity - @Amenity.Id</h4>
    @Amenity.Name<br />
    @Amenity.Description<br />
</div>

@code {
    [Parameter]
    public BlazorAmenity Amenity { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelect { get; set; }

    protected async Task OnAmenityClick(MouseEventArgs e, string name)
    {
        await OnAmenitySelect.InvokeAsync(name);
    }
}